{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}My Account{% endblock title %}

{% block main %}
{% if user.avatar %}
      <img src="{{ user.avatar.url }}" alt="Avatar" class="img-fluid mt-3">
      <form method="POST" action="{% url 'clear_avatar' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-2">Clear Avatar</button>
      </form>
    {% else %}
      <p>No avatar set.</p>
    {% endif %}
<div class="card border-primary m-auto mb-3" style="max-width: 30rem">
  <div class="card-header text-center">Update Profile</div>
  <div class="card-body">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="form-control btn btn-primary">UPDATE PROFILE</button>
    </form>
  </div>
</div>
{% endblock %}
