asgiref==3.8.1
boto3==1.37.28
botocore==1.37.28
Django==5.2
django-allauth==65.7.0
django-crispy-forms==2.3
django-storages==1.14.6
djangorestframework==3.16.0
et_xmlfile==2.0.0
jmespath==1.0.1
openpyxl==3.1.5
pillow==11.1.0
PostQL==1.0.3
prompt_toolkit==3.0.50
psycopg2-binary==2.9.10
pyarrow==19.0.1
python-dateutil==2.9.0.post0
python-http-client==3.3.7
s3transfer==0.11.4
sendgrid==6.11.0
six==1.17.0
sqlparse==0.5.3
starkbank-ecdsa==2.2.0
tabulate==0.9.0
termcolor==3.0.1
urllib3==2.3.0
wcwidth==0.2.13
